.dataTables_wrapper {
  .dataTables_filter {
    float: right;
    margin-bottom: 10px;
  }

  .dataTables_paginate {
    float: right;

    .paginate_button {
      border: 1px solid $brand-primary;
      color: $brand-primary;
      padding: 10px;
      margin: 5px;
      cursor: pointer;

      &.disabled {
        border: 1px solid #ddd;
        color: #ddd;
        cursor: default;
      }
    }
  }
}