.icon {
  &.game-result {
    border: 1px solid #fff;
    padding: 3px 5px;
    position: absolute;
    margin: 3px;
    background-color: #000;

    &.text-danger {
      border-color: $brand-danger;
    }

    &.text-success {
      border-color: $brand-success;
    }
  }
}