.groups-table {
  .groups-name {
    color: #fff;
    background-color: $brand-information;
    padding: 10px;
  }

  .teams {
    .row + .row {
      margin-top: 0;
    }

    .team {
      margin: 0;
      border: 1px solid $brand-information;
    }

    .fake-button-container {
      height: 39px;
      line-height: 39px;
      text-align: left;

      .fake-btn {
        cursor: pointer;
      }

      i {
        line-height: 39px;
      }
    }
  }
}