.select2-dropdown--below {
  top: 27px;
}

.select2-container--bootstrap {
  &.select2-container--focus, &.select2-container--open {
    .select2-selection {
      box-shadow: none;
    }
  }

  .select2-selection {
    box-shadow: none;
    height: 39px;
    margin-bottom: 0px;
    padding: 4px 12px;
    vertical-align: middle;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0.25);

    .select2-selection__arrow {
      right: 20px;
    }
  }
}