#slide1 {
  background-image: url(../img/slider/slide1.png);
  color: #fff;

  h2, h3 {
    color: #fff;
  }

  .highlight {
    color: #4393d8
  }
}

#slide2 {
  background-image: url(../img/slider/slide2.png);
  color: #fff;

  h2, h3 {
    color: #fff;
  }

  .highlight {
    color: #4393d8
  }
}

#slide3 {
  background-image: url(../img/slider/slide3.png);
}