.theme_btn, .btn {
  i {
    margin-right: 5px;
  }
}

.btn {
  &.btn-default {
    border: none;

    &:hover {
      color: $brand-primary;
    }
  }
}

.darkgrey_section a.white-text {
  color: #fff;
}