.spacer-10 {
  @include spacer(10px);
}

.spacer-20 {
  @include spacer(20px);
}

.spacer-30 {
  @include spacer(30px);
}

.spacer-40 {
  @include spacer(40px);
}

.clearfix {
  clear: both;
  content: "";
  display: block;
}

a img.no-bg {
  background-color: transparent;
}

.dl-horizontal.small-dt {
  dt {
    width: 100px;
  }

  dd {
    margin-left: 125px;
  }
}

hr {
  opacity: 0.3;
}

.slide{
  &.darkgrey_section {
    padding-top: 0;
  }
}

.text-success {
  a {
    color: $brand-success;
  }
}

.text-danger {
  a {
    color: $brand-danger;
  }
}

.bordered-box {
  margin-right: 15px;
  border: 1px solid #fff;
}

.isotope .isotope-item {
  margin: 10px 0;
}