.table-responsive .table {

  &.red-header {
    thead {
      tr {
        th {
          background-color: $brand-danger;
        }
      }
    }
  }

  thead {
    tr{
      th {
        border: 1px solid #474747;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 0;
      }
    }
  }

  tbody {
    tr {
      &.linked {
        cursor: pointer;
      }

      td {
        border: 1px solid #474747;
        vertical-align: middle;

        .control-options {
          display: inline-block;
          padding: 0 15px;
          background: transparent;

          &.primary {
            color: $brand-information;
          }

          &.danger {
            color: $brand-danger;
          }
        }

        a {
          background-color: transparent;
        }
      }
    }
  }

  span.text-success {
    a {
      color: $brand-success;
    }
  }

  span.text-danger {
    a {
      color: $brand-danger;
    }
  }
}

.color_section .table {
  thead {
    th {
      background-color: #000;
    }
  }

  tbody {
    td {
      background-color: #323232;
    }
  }

  &.table-striped {
    tr:nth-child(odd) {
      td {
        background-color: #262626;
      }
    }
  }
}